.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  overflow-y: auto;
  padding-top: 20px;
}

.ticket-details-form {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ticket-details-form h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
  line-height: 1.5;
  height: 40px; /* Increase the height to accommodate longer option texts */
}

.form-control:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-primary {
  padding: 8px 15px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-secondary {
  padding: 8px 15px;
  background-color: #6c757d;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

.alert-success {
  margin-top: 5px;
  padding: 10px;
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.invalid-feedback {
  color: #dc3545;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}


