<div class="container">
  <div class="ticket-details-form">
    <h2>Ticket Details for Ticket #{{ ticketId }}</h2>
    <form (ngSubmit)="submitForm()" [formGroup]="formData">
      <div>
        <label for="reqDate">Request Date</label>
        <input id="reqDate" type="text" formControlName="reqDate" />
        <div *ngIf="formData.controls['reqDate'].invalid && formData.controls['reqDate'].touched">
          Request Date is required
        </div>
      </div>
      <div>
        <label for="serviceType">Service Type</label>
        <input id="serviceType" type="text" formControlName="serviceType" />
        <div *ngIf="formData.controls['serviceType'].invalid && formData.controls['serviceType'].touched">
          Service Type is required
        </div>
      </div>
      <div>
        <label for="daysOpen">Number of days Open</label>
        <input type="text" id="daysOpen" formControlName="daysOpen" readonly>
      </div>
      <div>
        <label for="assignedTo">Assigned To</label>
        <input type="text" id="assignedTo" formControlName="assignedTo">
      </div>
      <div>
        <label for="availedDate">Availed Date</label>
        <input type="text" id="availedDate" formControlName="availedDate">
      </div>
      <div>
        <label for="expectedTimeToClose">Expected Time to Close</label>
        <input type="text" id="expectedTimeToClose" formControlName="expectedTimeToClose">
      </div>
      <div>
        <label for="severity">Severity</label>
        <input type="text" id="severity" formControlName="severity">
      </div>
      <div>
        <label for="status">Status</label>
        <input type="text" id="status" formControlName="status">
      </div>
<!--    <div class="form-group" *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]">-->
<!--      <label for="dummy-{{i}}">Dummy-{{i}}</label>-->
<!--      <input type="text" id="dummy-{{i}}" formControlName="dummy-{{i}}" />-->
<!--    </div>-->
    <button type="submit">Submit</button>
  </form>
  <div *ngIf="submittedSuccessfully && ticketDetails" class="success-message">
    Data submitted successfully!
  </div>
</div>
</div>

